.app-header{
    margin-left: 10%;
    height: 80px;
    padding-top: 20px;
    font-size: 40px;
    color: #003057;
}

p {
    margin-left: 10%;
    opacity: 0.9;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

i {
    margin-left: 10%
}